services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: toto42sh
      POSTGRES_USER: plex-tinder
      POSTGRES_DB: plex-tinder
    ports:
      - 5432:5432
    command: postgres -c 'max_connections=1000'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
